<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Camera
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- 
<ion-content>
  <ion-button expand="block" (click)="takePhoto()">Take Photo</ion-button>
  <div *ngIf="originalImage">
    <img [src]="originalImage" alt="Original Photo">
    <ion-input placeholder="Enter text" [(ngModel)]="text"></ion-input>
    <ion-button expand="block" (click)="addTextToPhoto()">Add Text</ion-button>
  </div>
  <div *ngIf="modifiedImage">
    <img [src]="modifiedImage" alt="Modified Photo">
    <ion-button expand="block" (click)="savePhotos()">Save Photos</ion-button>
  </div>
  
</ion-content> -->

<ion-content>
  <div style="background-color: rgb(187, 187, 197); height: 100%;">
    <app-explore-container name="Take your picture"></app-explore-container>

    <ion-fab vertical="bottom" horizontal="center">
      <ion-fab-button (click)="takePhoto()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>