<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div >
    <ion-grid>
      <ion-row>
        <ion-col sizeLg="2" sizeMd="3" sizeSm="4" size="4" *ngFor="let photo of photoService.photos; index as position ">
            <ion-img [src]="photo.data" ></ion-img>
            <ion-icon name="trash" style="padding: 1% 0%;" (click)="removePhoto(photo, position)"></ion-icon>
            <ion-icon name="star" style="padding: 1% 20%;" (click)="addToFavorite(photo)"></ion-icon> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>